NODE_ENV=production
PORT=

# PORTAL ASTRO LANDING PAGE / BLOG
PORTAL_DEPLOY_WEBHOOK=

# GOOGLE MAPS API
GOOGLE_MAPS_API_KEY=

# TELEGRAM
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=

# Domínios
FRONTEND_URL=
BACKEND_URL=
ALLOWED_ORIGINS=
PLAY_STORE_URL=
APP_STORE_URL=

# RESEND
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_OVERRIDE_EMAIL=

# Meta WhatsApp Business API (WABA)
WABA_API_URL=
WABA_PHONE_NUMBER_ID=
WABA_BUSINESS_ACCOUNT_ID=
WABA_ACCESS_TOKEN=

# SUPABASE
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_PASSWORD=

# SENTRY
SENTRY_DSN=
SENTRY_ENVIRONMENT=
SENTRY_TRACES_SAMPLE_RATE=

# LOGTAIL
LOGTAIL_TOKEN=

# EVOLUTION
WHATSAPP_NUMBER=
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
GLOBAL_WHATSAPP_INSTANCE=

# CONFIG
LOG_LEVEL=
CRON_SECRET=

# EFIPAY
EFI_SANDBOX=
EFI_WEBHOOK_URL=
EFI_CLIENT_ID=
EFI_CLIENT_SECRET=
EFI_PIX_KEY=
EFI_CERT_BASE64=